<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出版社页面</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .btn{
            width: 30%;
            margin-bottom: 4%;
            display: block;
            height: 40px;
            line-height: 26px;
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>出版社：{{ publish }}</h3>
        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h4>出版书籍：</h4>
                {% for line in publishdata %}
                    <p class="btn btn-primary">《{{ line.title }}》</p>
                {% endfor %}

            </div>
        </div>
    </div>

</body>
</html>